<!DOCTYPE html>
<html lang="ru">
	<head>
	<link rel="stylesheet" href="res/styles/normalize_style.css">
	<link rel="stylesheet" href="res/styles/style.css">
		<meta charset="utf-8">
		<title>Сайт</title>
	</head>
	<body>
		<header class="header">
			<h1>Заголовок</h1>
			<h3>12 top &ndash; 24 adres &mdash;</h3> 
			<nav>
				<a href="index.html">Главная</a>
				<a href="about.html">О нас</a>
			</nav>
		</header>
		<!-- pre div-->
		<h2>Заголовок 2</h2>
		<!-- div -->
		<div class="social">
			<p><strong><em>Меня</em></strong> можно найти в...</p>
			<p>Кроме того, у меня есть профиль на... Кроме того, у меня есть профиль на... <a href="https://webref.ru/layout/learn-html-css/box-model" target="_blank"><b>Сайте</b></a> Кроме того, у меня есть профиль на... Кроме того, у меня есть профиль на...</p>
		</div>
		<footer class="footer">
			<nav>
				<a href="index.html">Главная</a>
				<a href="about.html">О нас</a>
			</nav>
			<small>&copy; Dark Site</small>
		</footer>
	</body>
</html>